$suit-heart: url("../img/heart.svg");
$suit-pike: url("../img/pike.svg");
$suit-clover: url("../img/clover.svg");
$suit-tile: url("../img/tile.svg");
$current-suit: var(--current-suit);

@font-face {
    font-family: StratosSkyeng;
    src: url("../fonts/stratosskyengweb-medium.woff");
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #004980;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.button {
    width: 246px;
    height: 50px;
    font-family: StratosSkyeng, sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #fff;
    background: #7ac100;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    transition: transform 100ms;

    &:hover {
        transform: scale(1.05);
    }

    &:active {
        transform: scale(0.95);
    }
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.difficulty {
    width: 480px;
    height: 459px;
    box-sizing: border-box;
    background: #c2f5ff;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    padding: 32px;

    &__header {
        width: 208px;
        height: 96px;
        margin-bottom: 48px;
        font-family: StratosSkyeng, sans-serif;
        font-weight: 400;
        font-size: 40px;
        line-height: 48px;
        text-align: center;
        color: #004980;
    }

    &__settings {
        list-style: none;
        display: flex;
        gap: 24px;
        margin-bottom: 67px;
    }

    &__option {
        display: flex;
        align-items: center;
        justify-content: center;
        background: none;
    }

    &__button {
        width: 96px;
        height: 98px;
        color: #0080c1;
        background: #fff;
        font-family: StratosSkyeng, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 64px;
        line-height: 72px;
    }
}

.card {
    /* Fallback */
    $current-suit: $suit-pike;

    transition: transform 0.2s ease-in-out;
    width: 95px;
    height: 133px;
    border-radius: 4px;
    background-color: #fff;
    position: relative;

    .rank {
        height: inherit;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &__text {
            margin: 6px;
            font-family: StratosSkyeng, sans-serif;
            font-size: 24px;
            line-height: 20px;
            color: #000;
            font-feature-settings: "pnum" on, "lnum" on;

            &_lower-text {
                transform: rotate(180deg);
            }
        }
    }

    .suit {
        &__upper-left,
        &__center,
        &__lower-right {
            position: absolute;
            background-image: $current-suit;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }

        &__upper-left,
        &__lower-right {
            width: 6px;
            height: 6px;
        }

        &__upper-left {
            left: 9px;
            top: 27px;
        }

        &__lower-right {
            transform: rotate(180deg);
            right: 9px;
            bottom: 27px;
        }

        &__center {
            width: 29px;
            height: 25px;
            left: 33px;
            top: 55px;
        }
    }

    &_disclosed {
        background-color: #e4fbff;
        content: url("../img/card_shirt.svg");

        .suit {
            display: none;
        }

        .rank {
            display: none;
        }
    }

    &:hover {
        transform: scale(1.2);
    }
}

.card[data-suit="heart"] {
    $current-suit: $suit-heart;

    .suit {
        &__upper-left,
        &__center,
        &__lower-right {
            background-image: $current-suit;
        }
    }
}

.card[data-suit="tile"] {
    $current-suit: $suit-tile;

    .suit {
        &__upper-left,
        &__center,
        &__lower-right {
            background-image: $current-suit;
        }
    }
}

.card[data-suit="clover"] {
    $current-suit: $suit-clover;

    .suit {
        &__upper-left,
        &__center,
        &__lower-right {
            background-image: $current-suit;
        }
    }
}

.card[data-suit="pike"] {
    $current-suit: $suit-pike;

    .suit {
        &__upper-left,
        &__center,
        &__lower-right {
            background-image: $current-suit;
        }
    }
}

.game {
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 calc(50vw - 520px);
    }

    &__timer {
        width: 151px;

        .header {
            font-family: StratosSkyeng, sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 32px;
            font-feature-settings: "pnum" on, "lnum" on;
            color: #fff;

            &__min,
            &__sec {
                font-family: StratosSkyeng, sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 64px;
                line-height: 72px;
                color: #fff;
            }

            &__sec::before {
                content: ".";
            }
        }

        .timer {
            display: flex;

            &__header {
                display: flex;
                justify-content: flex-end;
                gap: 57px;
            }
        }
    }

    &__main {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 16px;
        justify-items: center;
        align-items: center;
    }

    &__board {
        flex: 10;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__results {
        height: 100%;
        width: 100vw;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        background: #004980e6;
        display: flex;
        justify-content: center;
        align-items: center;

        .timer {
            display: flex;
            margin-top: 10px;
            margin-bottom: 40px;

            .header {
                &__sec {
                    &::before {
                        content: ".";
                    }
                }

                &__sec,
                &__min {
                    font-family: StratosSkyeng, sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 64px;
                    line-height: 72px;
                    color: #000;
                }
            }
        }

        &-time-spent {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &-container {
            z-index: 11;
            width: 480px;
            height: 459px;
            box-sizing: border-box;
            background: #c2f5ff;
            border-radius: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: column wrap;
            padding: 32px;
        }

        &-header {
            width: 277px;
            margin-bottom: 28px;
            font-family: StratosSkyeng, sans-serif;
            font-weight: 400;
            font-size: 40px;
            line-height: 48px;
            text-align: center;
            color: #004980;
        }

        &-text {
            font-family: StratosSkyeng, sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 32px;
            font-feature-settings: "pnum" on, "lnum" on;
            color: #000;
        }

        &-icon {
            width: 96px;
            height: 96px;
        }
    }
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;

    &__header {
        color: #fff;
        margin-bottom: 16px;
    }

    &__screen-button {
        width: 50px;
    }

    &__screen-buttons {
        display: flex;
        gap: 8px;
        list-style: none;
    }
}

.hidden {
    display: none;
}
